<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <title>Ask GPT App</title>

</head>
<body>
    <div class="container-fluid mt-4">  
        <div class="row">
          <div class="col-md-4">
            <h1 class="mb-4">Ask GPT App</h1>
            <form method="post" action="{% url 'home' %}" class="mb-4">
              {% csrf_token %}
              <div class="mb-3">
                <label for="user_input" class="form-label">Enter Text:</label>
                <input type="text" name="user_input" class="form-control" required>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
    
          <div class="col-md-8 overflow-auto">
            <h2>Responses:</h2>
            <ul class="list-group">
              {% for response in responses|slice:"0:-1" %}
                <li class="list-group-item">
                  <strong>Question:</strong> {{ response.user_input.text }}<br>
                  <strong>BotAnswer:</strong> {{ response.text }}<br>
                  <small>{{ response.created_at }}</small>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>